*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #3E4147;
    color: #363940;
    position: relative;
}

#myCanvas{
    background: #36393F;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
